body {
    background-image: url(https://img.freepik.com/premium-photo/real-estate-houses-logo-design-blue-background-3d-rendering-illustration_585146-67.jpg?w=2000);
    text-align: center;
}

form {
    text-align: center;
}
